//FONTSIZES
$fsz-small: 12px;
$fsz-middle: 13px;
$fsz-large: 14px;
$fsz-xlarge: 24px;
//MARGINS
$margin-big: 20px;
//BACKGROUND
$main-fill-color: #F3F7FA;
//FONT-COLOR
$text-color-first: #4A4A4A;
$text-color-second: #FFFFFF;
$text-color-third: #A0B0B9;
$text-color-fourth: #2196F3;
//DECORATIVE-FILL-COLOR
$decorative-fill-color-first: #FFFFFF;
$decorative-fill-color-second: #F1FCFF;
$decorative-fill-color-third: #2196F3;
$decorative-fill-color-fourth: #f32121;
//DECORATIVE-LINE-COLOR
$decorative-line-color-first: #9ABBCE;
$decorative-line-color-second: #2196F3;
$decorative-line-color-third: #FFFFFF;